<a href="https://colab.research.google.com/github/EduHdzVillasana/UdemyDS/blob/main/Seccion%2012/K%20Nearest%20Neighbors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K Nearest Neighbors

In [14]:
import numpy as np
from sklearn import preprocessing,neighbors
from sklearn.model_selection import cross_val_score, train_test_split
import pandas as pd
import os

In [30]:
mainpath = "https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets"
filepath = "cancer/breast-cancer-wisconsin.data.txt"
df = pd.read_csv(os.path.join(mainpath,filepath), header = None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [31]:
df.describe()

                 0           1           2   ...          8           9           10
count  6.990000e+02  699.000000  699.000000  ...  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478  ...    2.866953    1.589413    2.689557
std    6.170957e+05    2.815741    3.051459  ...    3.053634    1.715078    0.951273
min    6.163400e+04    1.000000    1.000000  ...    1.000000    1.000000    2.000000
25%    8.706885e+05    2.000000    1.000000  ...    1.000000    1.000000    2.000000
50%    1.171710e+06    4.000000    1.000000  ...    1.000000    1.000000    2.000000
75%    1.238298e+06    6.000000    5.000000  ...    4.000000    1.000000    4.000000
max    1.345435e+07   10.000000   10.000000  ...   10.000000   10.000000    4.000000

[8 rows x 10 columns]

In [32]:
df.columns = ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]

In [33]:
df.head()

      name  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

Clase :
* 2: Benigno
* 4: Maligno

In [34]:
df = df.drop(["name"],1)

In [35]:
df.replace("?", -99999, inplace=True)

In [36]:
Y = df["class"]

In [37]:
X = df[["V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]]

In [38]:
X.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9
0   5   1   1   1   2   1   3   1   1
1   5   4   4   5   7  10   3   2   1
2   3   1   1   1   2   2   3   1   1
3   6   8   8   1   3   4   3   7   1
4   4   1   1   3   2   1   3   1   1

In [39]:
Y.head()

0    2
1    2
2    2
3    2
4    2
Name: class, dtype: int64

## Clasificador de los K vecinos

In [40]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [41]:
clf = neighbors.KNeighborsClassifier()

In [42]:
clf.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [43]:
accuracy = clf.score(X_test, Y_test)
accuracy

0.9642857142857143

# Clasificaci√≥n sin limpieza

In [26]:
df = pd.read_csv(os.path.join(mainpath,filepath), header = None)
df.replace("?", -99999, inplace=True)
df.columns = ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]

Y = df["class"]
X = df[["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

accuracy = clf.score(X_test, Y_test)
accuracy

0.5714285714285714

# Clasificar nuevos datos

In [27]:
sample_measure = np.array([4,2,1,1,1,2,3,2,1])

In [28]:
sample_measure = sample_measure.reshape(1,-1)

In [44]:
predict = clf.predict(sample_measure)

In [45]:
predict

array([2])

In [46]:
sample_measure2 = np.array([[4,2,1,1,1,2,3,2,1], [2,2,4,4,2,2,6,2,4]]).reshape(2,-1)

In [47]:
predict = clf.predict(sample_measure2)

In [48]:
predict

array([2, 2])

In [50]:
clf.score(X,Y)

0.9756795422031473