# Data Wrangling - La cirugía de los datos
El **data wrangling**, a veces denominada **data munging**, es el proces de transgormar y mapear datos de un dataset *raw* (en bruto) en otro formato con la intención de hacerlo más apropiado y valioso para una variedad de propósitos posteriores, como el análisis. Un **data wrangler** es una persona que realiza estas operaiones de transformación.

Esto puede incluir munging, visualización de datos, agregación de datos, entrenamiento de un modelo estadístico, así como muchos otros usos potenciales. La oscilación de datos como proceso generalmente sigue un conjunto de pasos generales que comienzan extrayendo los datos en una forma cruda del origen de datos, dividiendo los datos en bruto usando algoritmos (por ejemplo, clasificación) o analizando los datos en estructuras de datos predefinidas, y finalmente, depositando el contenido resultante en un sistema de almacenamiento (o silo) ara su uso a futuro.

In [43]:
import pandas as pd 
import os
import numpy as np
import random as rd

In [44]:
mainpath = "E:/Curso de Python/Repositorio/python-ml-course/datasets/"
filepath = "customer-churn-model/Customer Churn Model.txt"
data = pd.read_csv(os.path.join(mainpath,filepath))

In [45]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [46]:
data.dtypes

State              object
Account Length      int64
Area Code           int64
Phone              object
Int'l Plan         object
VMail Plan         object
VMail Message       int64
Day Mins          float64
Day Calls           int64
Day Charge        float64
Eve Mins          float64
Eve Calls           int64
Eve Charge        float64
Night Mins        float64
Night Calls         int64
Night Charge      float64
Intl Mins         float64
Intl Calls          int64
Intl Charge       float64
CustServ Calls      int64
Churn?             object
dtype: object

In [47]:
data.describe()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

# Crear un subconjunto de dato

In [48]:
 account_lenght = data["Account Length"]

No es un data frame, es un objeto de tipo series, vectores. NO ES UNA LISTA

In [49]:
account_lenght.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [50]:
account_lenght.describe()

count    3333.000000
mean      101.064806
std        39.822106
min         1.000000
25%        74.000000
50%       101.000000
75%       127.000000
max       243.000000
Name: Account Length, dtype: float64

In [51]:
type(data)

pandas.core.frame.DataFrame

In [52]:
type(account_lenght)

pandas.core.series.Series

Seleecionar mas de una columna:

In [53]:
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]

In [54]:
type(subset)

pandas.core.frame.DataFrame

In [55]:
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

Si se extrae son varias columnas es de tipi dataframe
Tambien se puede pasar una lista con las columnas requeridas

In [56]:
desired_columns = ["Account Length", "Phone", "Eve Charge", "Night Calls"]
subset = data[desired_columns]

In [57]:
subset.head()

   Account Length     Phone  Eve Charge  Night Calls
0             128  382-4657       16.78           91
1             107  371-7191       16.62          103
2             137  358-1921       10.30          104
3              84  375-9999        5.26           89
4              75  330-6626       12.61          121

In [58]:
desired_columns = ["Account Length", "VMail Message", "Day Calls"]
all_columns_list = data.columns.values.tolist()
desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [59]:
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [60]:
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

Tambien se puede hacer la operacion de complemento de la siguiente manera

In [61]:
a = set(desired_columns)
type (a)

set

In [62]:
b = set (all_columns_list)
sublist = b - a
sublist = list (sublist)

Para obtener filas completas del data frame

In [63]:
data [0:5]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [64]:
## Usuarios con Dayl Mins > 300
data1 = data[data["Day Mins"] > 300]
data1.shape

(43, 21)

In [65]:
## Usuarios de nueva york (state) = "NY"
data2 = data[data["State"] == "NY"]
data2.shape

(83, 21)

In [66]:
# AND -> &
data3 = data[(data["State"] == "NY") & (data["Day Mins"] > 300)]
data3.shape

(2, 21)

In [67]:
# OR -> |
data4 = data [(data["State"] == "NY") | (data["Day Mins"] > 300)]
data4.shape

(124, 21)

In [68]:
## Minutos de día, de noche, y Longitud de la cuent de los primeros 50 individuos
subset_first_50 = data[["Day Mins", "Night Mins", "Account Length"]][:50]
subset_first_50.shape

(50, 3)

In [69]:
data_loc = data.iloc[0:10, 3:6] ## Primeras 10 filas, columnas de la 3 a la 6
data_loc

      Phone Int'l Plan VMail Plan
0  382-4657         no        yes
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [70]:
type(data_loc)

pandas.core.frame.DataFrame

In [71]:
data.iloc[[1,2,4], [2,5,7]]

   Area Code VMail Plan  Day Mins
1        415        yes     161.6
2        415         no     243.4
4        415         no     166.7

In [72]:
data["Total Mins"] = data["Day Mins"] + data["Night Mins"]
data["Total Mins"].head(10)

0    509.8
1    416.0
2    406.0
3    496.3
4    353.6
5    427.3
6    430.8
7    368.8
8    400.3
9    585.0
Name: Total Mins, dtype: float64

In [73]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False.,509.8
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False.,416.0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False.,406.0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False.,496.3
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False.,353.6

In [74]:
data["Total Calls"] = data["Day Calls"] + data["Night Calls"] + data["Eve Calls"]
data["Total Calls"].head()

0    300
1    329
2    328
3    248
4    356
Name: Total Calls, dtype: int64

# Generación aleatoria de números 
## Pseudo aleatorios, por que eventualmente se repetirán
### Se usan por ejemplo, para sacar un conjunto de muestra para el testeo

In [75]:
np.random.randint(1,10)
# Generar un numero aleatorio entero entre 1 y 100

9

In [76]:
## La forma mas clasica de generar un numero aleatorio es entre 0 y 1 con decimales
np.random.random()

0.16007493416546292

In [77]:
## Para hacer una lista de numeros aleatorios se usa una funcion
## Función que genera una lista de n números aleatorios enteros dentro del intervalo [a,b]
def randint_list (n, a=0, b=2):
    x = []
    for i in range (n):
        x.append(np.random.randint(a,b))
    return x

In [78]:
randint_list (10, 1, 40)

[15, 2, 5, 27, 10, 9, 8, 31, 16, 24]

In [79]:
#Funcion que numeros entre 0 y 100 que sean multiplos de 7
rd.randrange(0,100,7)

91

### Shaffling

In [80]:
# Genera una lista
a = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [81]:
# Rebuelve o desordena los datos
np.random.shuffle(a)
a

array([63,  4, 85, 12, 96, 91, 94, 68, 81, 43, 76, 45,  8, 72,  1, 59, 92,
       34, 65, 29, 23, 70, 18,  2, 27, 89, 38, 78, 98, 20,  7, 52, 71, 86,
       83, 48, 73, 49, 54, 42, 82, 77, 47, 75,  0, 61, 97, 33, 10, 24,  3,
       41, 32, 36, 35, 46, 69, 13, 58, 87, 95, 39, 79, 11, 30, 67, 14, 57,
        9, 50,  5, 90, 55, 15, 16, 93, 37, 22, 21, 17,  6, 99, 44, 62, 25,
       66, 19, 53, 40, 51, 84, 31, 26, 64, 60, 28, 80, 56, 74, 88])

### Choise
#### Selecciona un item aleatorio dentro de un conjunto dado de items

In [82]:
columns_list = data.columns.values.tolist()
columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?',
 'Total Mins',
 'Total Calls']

In [83]:
# Elegir una columna al azar
np.random.choice(columns_list)

'Night Mins'

## Seed
Semilla generadora para tener los mismos resultados de las funciones de random

In [135]:
np.random.seed(2018)
for i in range (5):
    print (np.random.random())

0.8823493117539459
0.10432773786047767
0.9070093335163405
0.3063988986063515
0.446408872427422