# Carga de datos a través de la función open

In [1]:
import pandas as ps
import os

In [2]:
filename = "200614COVID19MEXICO.csv"
mainpath = "E:/Curso de Python/COVID-19"

In [3]:
dataFrame3 = open(os.path.join(mainpath, filename),"r")

In [23]:
cols = dataFrame3.readline().strip().split(",")
cols

['"FECHA_ACTUALIZACION"',
 '"ID_REGISTRO"',
 '"ORIGEN"',
 '"SECTOR"',
 '"ENTIDAD_UM"',
 '"SEXO"',
 '"ENTIDAD_NAC"',
 '"ENTIDAD_RES"',
 '"MUNICIPIO_RES"',
 '"TIPO_PACIENTE"',
 '"FECHA_INGRESO"',
 '"FECHA_SINTOMAS"',
 '"FECHA_DEF"',
 '"INTUBADO"',
 '"NEUMONIA"',
 '"EDAD"',
 '"NACIONALIDAD"',
 '"EMBARAZO"',
 '"HABLA_LENGUA_INDIG"',
 '"DIABETES"',
 '"EPOC"',
 '"ASMA"',
 '"INMUSUPR"',
 '"HIPERTENSION"',
 '"OTRA_COM"',
 '"CARDIOVASCULAR"',
 '"OBESIDAD"',
 '"RENAL_CRONICA"',
 '"TABAQUISMO"',
 '"OTRO_CASO"',
 '"RESULTADO"',
 '"MIGRANTE"',
 '"PAIS_NACIONALIDAD"',
 '"PAIS_ORIGEN"',
 '"UCI"']

In [24]:
counter = 0
main_dict = {}
for col in cols :
    main_dict[col] = []

In [25]:
main_dict

{'"FECHA_ACTUALIZACION"': [],
 '"ID_REGISTRO"': [],
 '"ORIGEN"': [],
 '"SECTOR"': [],
 '"ENTIDAD_UM"': [],
 '"SEXO"': [],
 '"ENTIDAD_NAC"': [],
 '"ENTIDAD_RES"': [],
 '"MUNICIPIO_RES"': [],
 '"TIPO_PACIENTE"': [],
 '"FECHA_INGRESO"': [],
 '"FECHA_SINTOMAS"': [],
 '"FECHA_DEF"': [],
 '"INTUBADO"': [],
 '"NEUMONIA"': [],
 '"EDAD"': [],
 '"NACIONALIDAD"': [],
 '"EMBARAZO"': [],
 '"HABLA_LENGUA_INDIG"': [],
 '"DIABETES"': [],
 '"EPOC"': [],
 '"ASMA"': [],
 '"INMUSUPR"': [],
 '"HIPERTENSION"': [],
 '"OTRA_COM"': [],
 '"CARDIOVASCULAR"': [],
 '"OBESIDAD"': [],
 '"RENAL_CRONICA"': [],
 '"TABAQUISMO"': [],
 '"OTRO_CASO"': [],
 '"RESULTADO"': [],
 '"MIGRANTE"': [],
 '"PAIS_NACIONALIDAD"': [],
 '"PAIS_ORIGEN"': [],
 '"UCI"': []}

In [26]:
counter = 0
for line in dataFrame3:
    values = line.strip().split(",")
    for i in range(len (values)):
        main_dict[cols[i]].append(values[i])
    counter += 1
print ("El dataset tiene %d filas y %d columnas" %(counter, len(cols)))

El dataset tiene 406549 filas y 35 columnas

In [27]:
df3 = ps.DataFrame(main_dict)
df3.head()

,"""FECHA_ACTUALIZACION""","""ID_REGISTRO""","""ORIGEN""","""SECTOR""","""ENTIDAD_UM""","""SEXO""","""ENTIDAD_NAC""","""ENTIDAD_RES""","""MUNICIPIO_RES""","""TIPO_PACIENTE""",...,"""CARDIOVASCULAR""","""OBESIDAD""","""RENAL_CRONICA""","""TABAQUISMO""","""OTRO_CASO""","""RESULTADO""","""MIGRANTE""","""PAIS_NACIONALIDAD""","""PAIS_ORIGEN""","""UCI"""
0,"""2020-06-14""","""1bb015""",2,3,"""25""",2,"""18""","""25""","""006""",1,...,2,2,2,2,1,1,99,"""MÃ©xico""","""99""",97
1,"""2020-06-14""","""1162e9""",2,4,"""09""",2,"""20""","""09""","""002""",1,...,2,2,2,2,99,1,99,"""MÃ©xico""","""99""",97
2,"""2020-06-14""","""04141d""",2,4,"""02""",2,"""08""","""02""","""004""",2,...,2,2,2,2,99,1,99,"""MÃ©xico""","""99""",2
3,"""2020-06-14""","""1b3224""",2,4,"""15""",2,"""15""","""15""","""060""",1,...,2,2,1,2,99,1,99,"""MÃ©xico""","""99""",97
4,"""2020-06-14""","""1b8765""",2,4,"""30""",2,"""30""","""30""","""102""",1,...,2,2,2,1,99,1,99,"""MÃ©xico""","""99""",97

# Leer y escribir un fichero

In [15]:
infile = os.path.join(mainpath, filename)
outfile = mainpath + "/" + "customer-churn-model/Tab Customer Churn Model.txt"
with open (infile , "r") as infile1:
    with open (outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write ("\n")

# Leer datos desde una URL

In [4]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [5]:
medals_data = ps.read_csv(medals_url)
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [13]:
import urllib3 as url3
http = url3.PoolManager()
r = http.request('GET', medals_url)
response = r.data 
# Aqui estas solo guardando en un string la informacion, la puedes guardar en un data frame usando el metodo de los dos for anidados

In [28]:
# El objeto obtenido de r.data es un string binario, se tiene que convertir a string "normal" decodificando en utf-8
str_data = response.decode("utf-8")

#Dividimos el string decodificado en un array de filas, dividiendolo por los \n
lines = str_data.split("\n")

#Ahora sacamos el nombre de las columnas
col_names = lines[0].split(",")
numero_cols = len(col_names)

#Ahora seguimos el procedimiento que ya se habia hecho con los dos for
# Aqui creamos un diccionario y le ponemos el nombre de las columnas e indicamos que guardaran un array
counter_url = 0
main_dict_url = {}
for col in col_names:
    main_dict_url[col] = []

# Leemos linea por linea, separando los valores por comas y añadiendolas a un array
for line in lines:
    if (counter_url > 0): #Se saltan los encabezados de las columnas
        values = line.strip().split(",")
        for i in range(numero_cols):
            main_dict_url[col_names[i]].append(values[i]) # append es insertar al final de una lista
    counter_url +=1

print("El data set tiene %d filas y %d columnas" %(counter_url, numero_cols))
df_url = ps.DataFrame(main_dict_url)
df_url.head()

El data set tiene 2312 filas y 8 columnas

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [35]:
#Guardar los ficheros
mainpath = "C:/Users/alana/Documents/Curso de Python/Seccion 4/Datasets de url"
filename = "Medallas"
fullpath = os.path.join(mainpath, filename)
df_url.to_csv(fullpath + ".csv")
df_url.to_json(fullpath + ".json")
df_url.to_excel(fullpath+".xls")

# Funcion para descargar un csv de internet

In [17]:
def downloadFromURL (url, filename, sep = ",", delim = "\n",
                    mainpath = "E:/Curso de Python/Seccion 4/Datasets de url"):
    import urllib3 as url3
    http = url3.PoolManager()
    r = http.request('GET', url)
    response = r.data

    str_data = response.decode("utf-8")
    lines = str_data.split(delim)
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    counter_url = 0
    main_dict_url = {}
    for col in col_names:
        main_dict_url[col] = []
    
    for line in lines:
        if (counter_url > 0):
            values = line.strip().split(sep)
            for i in range(n_cols):
                main_dict_url[col_names[i]].append(values[i])
        counter_url +=1
    print("El data set tiene %d filas y %d columnas"%(counter_url, n_cols))
    df = ps.DataFrame(main_dict_url)
    print(df.head())
    #Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
    fullpath = os.path.join(mainpath, filename)

    #Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    df.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+fullpath)
    
    return df

In [19]:
medals_df = downloadFromURL(medals_url, "Medallas2")
medals_df.head()

El data set tiene 2312 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold
Los ficheros se han guardado correctamente en: E:/Curso de Python/Seccion 4/Datasets de url\Medallas2

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

# Ficheros XLS y XLSX

In [36]:
mainpath = "C:/Users/alana/Documents/Curso de Python/Repositorio/python-ml-course/datasets"
filename = "titanic/titanic3.xls"

In [40]:
titanic2 = ps.read_excel(os.path.join(mainpath , filename), "titanic3") # El ultimo parametro es para indicar que pestaña de excel se requiere
titanic2.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"